@import '~node_modules/modern-normalize/modern-normalize.css';
 :root {
    --first-color: #2c2ea8;
    --white: #fff;
    --second-color: #fbff00;
 }

.search-bar {
    padding: 10px;
    background-color: var(--first-color);
    
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}