.gallery {
    padding: 10px;
    padding-top: 70px;
    
    
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}


.gallery__image {
    object-fit: cover;
    width: 400px; 
    height: 300px;
    
}

.info {    
 background-color: var(--first-color);
 color: var(--second-color);
    padding: 5px;
}
.info-list {
    margin: 0;
    padding: 0;
    list-style: none;        
}
.info-item {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-weight: 700;
    line-height: 1, 2;
    p {
        margin: 0;
    }
}
