.gallery {
    padding: 10px;
    padding-top: 70px;
    
    
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}

.gallery__item {
    transition: border 300ms linear;
    border: solid 2px currentColor;
    border-radius: 0 0 18px 18px;

    &:hover {
        border: solid 2px red ;
    }

}
.gallery__image {
    object-fit: cover;
    width: 400px; 
    height: 300px;
    
}

.info {    
 background-color: var(--first-color);
 color: var(--second-color);
    padding: 5px;
    border-radius: 0 0 15px 15px;
}
.info-list {
    margin: 0;
    padding: 0;
    list-style: none;        
}
.info-item {
    display: flex;
    gap: 30px;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2;
    p {
        margin: 0;
    }
}
.error-last {
    text-align: center;
    
        
    color: var(--first-color);
    font-weight: 700;
    font-size: 20;
}